body {
    font-family: "Helvetica Neue", "Helvetica", serif;
    line-height: 1.6rem;
    text-align: center;
    background-color: ghostwhite;
}

h1 {
    text-align: left;
    margin-left: 20%
}

header a {
    font-size: 20pt;
    color: black;
    text-decoration: none;
}

main, article {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}

main p, article p {
    text-indent: 2em;
    font-size: 14pt;
}

pre {
    background-color: ivory;
    line-height: auto;
}

#footnotes {
    text-align: left;
}